<div class="main-content">
  <div class="section-content section-content-p30">

    <!-- this *ngIf is for avoiding displaying empty categoryName after using searching -->
    <div *ngIf="searchMode==false">
    <h4>Category: {{ currentCategoryName }}</h4>
    </div>
    <hr>

    <div class="container-fluid">
      <div class="row">

        <!-- loop over the collection of products -->

          <div *ngFor="let tempProduct of products" class="col-md-3">

            <div class="product-box">

              <a routerLink="/products/{{ tempProduct.id }}">
              <img src="{{ tempProduct.imageUrl}}" class="img-responsive">
              </a>
              <a routerLink="/products/{{ tempProduct.id }}">
              <h1>{{ tempProduct.name}}</h1>
              </a>
              <div class="price">{{ tempProduct.unitPrice | currency:"PLN "}}</div>
              <button (click)="addToCart(tempProduct)" class="btn btn-outline-secondary btn-sm">Add to cart</button>

            </div>
          </div>

        <!-- if products empty then display message -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role ="alert">
          No products found.
        </div>

      </div>
      <!-- begin footer -->
        <div class="footer-pagination">
          <div class="row">
            <div class="col-md-6"></div>

            <div class="col-md-d">
              <div class="row">
                <div class="col-md-9" style="padding-left: 30%">
                    <ngb-pagination [(page)]="thePageNumber"
                                    [pageSize]="thePageSize"
                                    [collectionSize]="theTotalElements"
                                    [maxSize]="5"
                                    [boundaryLinks]="true"
                                    (pageChange)="listProducts()">
                  </ngb-pagination>
                </div>

                <div class="col-md-10" style="text-align: center;">
                  <span clas="mr-2" style="color:#625D67">Page Size</span>
                  <select (change)="updatePageSize($event.target.value)">
                    <option style="color:#625D67" selected="true">5</option>
                    <option style="color:#625D67">10</option>
                    <option style="color:#625D67">15</option>
                    <option style="color:#625D67">20</option>
                  </select>
                </div>


              </div>
            </div>
          </div>
        </div>
      <!-- end footer -->

    </div>
  </div>
</div>
